
#personName{
    display:inline-block;
    width:20%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    vertical-align: top;
    margin-top: 5%;
}

#employSection{
    display:inline-block;
    width:30%;
}

#employ-front{
    display:inline-block;
    text-align: right;
}

#employ-end{
    display:inline-block;
    text-align: left;
}

.sectionTitle{
    border-bottom: 2px solid slategray;
}